/* #head { overflow: auto  清除浮动}*/
#header{
    position: fixed;
    z-index: 99;
    height: 100px;
    top: 0px;
    padding-top: 1rem;
    max-width: 1000px;
    background: rgb(255, 255, 255);
}
#head{padding: 0px 10px;}
#head h1 {
    font-size: 24px;
    text-align: left;
    color: #2196f3;
    float: left
}

#head select {
    float: right;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

#head::after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
/* overflow: hidden; */
